<html>
<head>
    <title>Warcraft Logs Parser</title>
    <link rel="stylesheet" type="text/css" href="/css/third-party/unsemantic/unsemantic-grid-responsive-tablet.css">
    <link rel="stylesheet" type="text/css" href="/css/third-party/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/third-party/bootstrap/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body>
<div class="content-container">
    <h3 class="center-text">Warcraft Logs Parser</h3>
    <div class="report-table">
        <div class="title">Report: {{type}}</div>
    </div>
    <div class="report-total">Total {{type}} for report: {{numberFormat table.totalAmount}}</div>
    {{#with table}}
        {{#each entries}}
            <div class="table-item">
                <span class="table-item-label">{{name}}</span>
                <span class="table-item-value">{{total}}</span>
            </div>
        {{/each}}
    {{/with}}
</div>
</body>
</html>